@model IEnumerable<GymBooking.Core.Models.GymClass>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_GymClassesPartial" />
